.bg-botitle {
    background-color: #252b38!important;
}

.bg-bobody {
    background-color: #2A3140 !important;
}

.bo-cardpadding {
    padding: 5px!important;
}
hr.solid {
    border-top: 2px solid #999!important;
}

