/.idea
/.vscode
/.vagrant
/node_modules
/public/*
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
/storage/*.key
/vendor
.env
.env.backup
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
laravel-echo-server.json
laravel-echo-server.lock
npm-debug.log
yarn-error.log
