//      @ Copyright : Phoenixia Productions     ===
//                  _,="( _  )"=,_              ===
//               _,'    \_>\_/    ',_           ===
//               .7,     {  }     ,\.           ===
//                '/:,  .m  m.  ,:\'            ===
//                  ')",(/  \),"('              ===
//                     '{'!!'}'                 ===
//                                              ===
// === 0.   SUMMARY ================= Line 1    ===
// === 1.   IMPORTS SET ============= Line 30   ===
// === 2.   COMMON RULESET ========== Line 36   ===
// === 3.   SPECIAL RULESET ========= Line 80   ===
// === 4.   NAVBAR RULESET ========== Line 89   ===
// === 5.   FOOTER RULESET ========== Line 156  ===
// === 6.   ANIMATED LINES RULESET == Line 219  ===
// === 7.   BANNER RULESET ========== Line 311  ===
// === 8.   INCITATION RULESET ====== Line 358  ===
// === 9.   SERVICE RULESET ========= Line 396  ===
// === 10.  ABOUT RULESET =========== Line 451  ===
// === 11.  TEAM RULESET ============ Line 465  ===
// === 12.  CONTACT RULESET ========= Line 527  ===
// === 13.  BACK TO TOP BUTTON ====== Line 545  ===
// === 14.  RESOURCES RESULTS ======= Line 609  ===
// === 15.  PERSONNAL PROFILE ======= Line 682  ===
// === 16.  LOGIN SYSTEM ============ Line 1011 ===
// === 17.  CONTACT FORM ============ Line 1079 ===
// === 18.  CONFIDENTIALITY ========= Line 1222 ===
// === 19.  FLIP CARD =============== Line 1356 ===
// === 20.  SEARCH BOX ============== Line 1401 ===

// === 1.   IMPORTS SET ===========================

@import '../common';
@import 'cms';
@import 'variables';

// === 2.   COMMON RULESET ========================

body,
html {
    overflow-x:                     hidden;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior:            smooth;
    }
}
h1{
    color: $green !important;
}
.btn-outline-special,
.f1-bottom-bar,
.f1-topbar,
.bg-success-gradiant,
.progress-wrap.active-progress,
.team1 .pro-pic .card-img-overlay,
.titular {
    background:                     $teal;
    background:                     -webkit-linear-gradient(to right, $green 0%, $teal 100%);
    background:                     -webkit-gradient(linear, left top, right top, from($green), to($teal));
    background:                     -webkit-linear-gradient(left, $green 0%, $teal 100%);
    background:                     -o-linear-gradient(left, $green 0%, $teal 100%);
    background:                     linear-gradient(to right, $green 0%, $teal 100%);
}
.btn-outline-special:hover,
.progress-wrap:hover {
    background:                     $green;
    background:                     -webkit-linear-gradient(to right, $teal 0%, $green 100%);
    background:                     -webkit-gradient(linear, left top, right top, from($teal), to($green));
    background:                     -webkit-linear-gradient(left, $teal 0%, $green 100%);
    background:                     -o-linear-gradient(left, $teal 0%, $green 100%);
    background:                     linear-gradient(to right, $teal 0%, $green 100%);
}
.footer1,
.header2    {
    color:                          $white;
    font-weight:                    300;
    font-size:                      14px;
}

// === 3.   SPECIAL RULESET =======================

.bg-soft-dark {
    background:                     rgba(255,255,255,.7);
}
.btn-outline-special {
    border-radius:                  50px;
}

// === 4.   NAVBAR RULESET ========================

.header2 {
    z-index:                        1000;
}
.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover{
    color:                          $dark;
}
.header2 .font-12 {
    font-size:                      12px;
}
.header2 .dropdown-item {
    padding:                        8px 1rem;
    color:                          $dark;
}
.header2 .h2-nav .navbar-nav .nav-item .nav-link {
    padding:                        12px 0;
    color:                          $white;
    font-weight:                    400;
}
.header2 .h2-nav .navbar-nav .nav-item {
    margin:                         0 20px;
}
.header2 .dropdown-toggle::after {
    display:                        none;
}
.header2 .dropdown-submenu>.dropdown-menu.menu-right {
    left:                           auto;
    right:                          100%;
    top:                            0;
}
.header2 .btn-dark {
    color:                          $white;
    background-color:               $dark;
    border-color:                   $dark;
    opacity:                        .7 !important;
}
.header2 .btn-dark:hover {
    opacity:                        1 !important;
}
.header2 .h2-nav .navbar-nav .nav-item .btn {
    opacity:                        0.5;
}
.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
    opacity:                        1;
}
.header2 .dropdown-submenu > .dropdown-menu {
    top:                            0;
    left:                           100%;
    margin-left:                    0;
    border-radius:                  0.25rem;
    display:                        none;
}
@media (min-width: 1024px) {
    .header2 .navbar-nav>.dropdown .dropdown-menu {
        min-width:                  210px;
        margin-top:                 0;
    }
    .header2 .dropdown-submenu:hover>.dropdown-menu {
        display:                    block;
    }
}
@media (min-width: 1024px) {
    .header2 .hover-dropdown .navbar-nav > .dropdown:hover > .dropdown-menu {
        display:                    block;
        margin-top:                 0;
    }
}

// === 5.   FOOTER RULESET ========================

.footer1 {
    background:                     $dark;
}
.footer1 h1,
.footer1 h2,
.footer1 h3,
.footer1 h4,
.footer1 h5,
.footer1 h6,
.link-special {
    color:                          $green;
}
.footer1 .font-weight-medium {
    font-weight:                    500;
}
.footer1 a.link:hover,
.footer1 .navbar-expand-lg .navbar-nav .nav-link,
.link-special:hover {
    color:                          $white;
}
.f1-topbar, .f1-bottom-bar {
    border-bottom:                  1px rgba(51, 51, 51, 0.7);
}

.footer1 .f1-topbar.navbar .navbar-nav .nav-item .nav-link {
    color:                          $white !important;
    padding:                        15px 13px;
}
.footer1 .f1-topbar .navbar .navbar-nav .nav-item:hover .nav-link,
.footer1 .f1-topbar .navbar .navbar-nav .nav-item.active .nav-link {
    color:                          $dark;
}
.footer1 .general-listing li a {
    color:                          $white;
    -webkit-transition:             0.2s ease-in;
    -o-transition:                  0.2s ease-in;
    transition:                     0.2s ease-in;
    -webkit-box-align:              center;
    -ms-flex-align:                 center;
}
.footer1 .general-listing li:hover a {
    color:                          $green;
    padding-left:                   10px;
}
.footer1 .general-listing.two-part li {
    width:                          49%;
    display:                        inline-block;
}
.footer1 .display-7 {
    font-size:                      26px;
}
.footer1 a.link {
    color:                          rgba(0,0,0,.7);
}
.footer1 .text-danger {
    color:                          $dark !important;
}
.footer1 .font-20 {
    font-size:                      20px;
}

// === 6.   ANIMATED LINES RULESET ================

.animate_lines {
    position:                       fixed;
    margin:                         auto;
    top:                            0;
    left:                           0;
    right:                          0;
    height:                         100vh;
    width:                          90vw;
    z-index:                        0;
    .line:after {
        background:                 -webkit-gradient(linear, left top, left bottom, from(rgba($dark, 0.03)), color-stop(75%, $gradient1), to($gradient2));
        background:                 linear-gradient(to bottom, rgba($dark, 0.03) 0%, $gradient1 75%, $gradient2 100%);
    }
    .line {
        position:                   absolute;
        overflow:                   hidden;
        width:                      1px;
        height:                     100%;
        top:                        0;
        left:                       0;
        background:                 rgba($dark, 0.03);
        &:after {
            content:                "";
            display:                block;
            position:               absolute;
            height:                 15vh;
            width:                  100%;
            top:                    -50%;
            left:                   0;
            -webkit-animation:      run 7s 0s infinite;
            animation:              run 7s 0s infinite;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode:    forwards;
            -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
        }
        &:nth-child(1) {
            margin-left:            22%;
            &:after {
                -webkit-animation-delay: 2s;
                animation-delay:    2s;
            }
        }
        &:nth-child(3) {
            margin-left:            12%;
            &:after {
                -webkit-animation-delay: 2.5s;
                animation-delay:    2.5s;
            }
        }
        &:nth-child(4) {
            margin-left:            80%;
            &:after {
                -webkit-animation-delay: 3s;
                animation-delay:    3s;
            }
        }
        &:nth-child(5) {
            margin-left:            85%;
            &:after {
                -webkit-animation-delay: 3.5s;
                animation-delay:    3.5s;
            }
        }
        &:nth-child(6) {
            margin-left:            100%;
            &:after {
                -webkit-animation-delay: 1.5s;
                animation-delay:    1.5s;
            }
        }
    }
    @-webkit-keyframes run {
        0% {
            top:                    -50%;
        }
        100% {
            top:                    110%;
        }
    }
    @keyframes run {
        0% {
            top:                    -50%;
        }
        100% {
            top:                    110%;
        }
    }
}

// === 7.   BANNER RULESET ========================

.banner-home {
    overflow:                       hidden;
    position:                       relative;
}
.banner-home h1,
.banner-home h2,
.banner-home h3 {
    color:                          $green;
}
.banner-home h4,
.banner-home h5,
.banner-home h6 {
    color:                          $white;
}
.banner-home a {
    text-decoration:                none;
}
.banner-home .btn-md {
    padding:                        15px 45px;
}
.banner-home .right-section {
    background-position:            center bottom;
    background-size:                cover;
    background-repeat:              no-repeat;
    position:                       absolute;
    right:                          0;
    bottom:                         0;
    top:                            0;
    @media (max-width: 1023px) {
        position:                   relative;
        bottom:                     -95px;
    }
}
.banner-home .contact-form {
    @media (max-width: 1023px) {
        padding-left:               0;
        padding-right:              0;
    }
    @media (max-width: 767px) {
        padding-left:               15px;
        padding-right:              15px;
    }
}

// === 8.   INCITATION RULESET ====================

.home {
    background:                     0 -50px;
    padding-top:                    0;
    @media (max-width: 991px) {
        padding-top:                71px;
    }
}
.main-banner {
    display:                        flex;
    align-items:                    center;
    justify-content:                space-between;
    min-height:                     700px;
    padding-bottom:                 50px;
    @media (max-width: 991px) {
        min-height:                 400px;
        margin-bottom:              50px;
    }
    .bnr-text{
        >p{
            font-size:              18px;
            line-height:            36px;
            color:                  rgba($dark, 0.6);
        }
    }
    .banner-title {
        width:                      56%;
        @media (max-width: 991px) {
            width:                  100%;
        }
    }
    .bnr-img{
        width:                      420px;
    }
}

// === 9.   SERVICE RULESET =======================

.our-services {
    background-image:               url("https://phoenixia-prods.com/wp-content/uploads/2020/12/2.jpg");
    height:                         100%;
    background-attachment:          fixed;
    background-position:            center;
    background-repeat:              no-repeat;
    background-size:                cover;
    padding:                        0 !important;
    h3 {
        color:                      $lighter;
    }
    h5,
    h6 {
        color:                      $green;
    }
    p {
        color:                      $white-smoke;
    }
    .parallax {
        background-color:           rgba(0,0,0,.7);
        padding:                    80px 0;
    }
}
.services-box {
    padding:                        10px 100px 40px 0;
    position:                       relative;
    z-index:                        2;
    @media (max-width: 991px) {
        padding:                    10px 10px 40px 0;
    }
    img{
        width:                      50px;
        opacity:                    .7;
    }
    &:hover {
        img {
            opacity:                1;
            -webkit-transition:     all 2s;
            -moz-transition:        all 2s;
            -ms-transition:         all 2s;
            -o-transition:          all 2s;
            transition:             all 2s;
        }
    }
}
.tick-icon {
    width:                          20px;
    height:                         20px;
}
.card {
    border-color:                   $border-color;
}

// === 10.  ABOUT RULESET =========================

.our-process, .contactus{
    h3{
        color:                      $green;
    }
}
.stat-icon{
    margin-top:                     50px;
    img{
        width:                      50px;
    }
}

// === 11.  TEAM RULESET ==========================

.team {
    background-size:                cover;
    padding:                        100px 0 70px 0;
    @media (max-width: 991px) {
        padding:                    20px 0;
    }
}
.team-destination {
    font-style:                     italic;
}
.team1 {
    color:                          $dark;
    font-weight:                    300;
    background-image:               url("https://phoenixia-prods.com/wp-content/uploads/2020/12/3.jpg");
}
.team1 h1,
.team1 h2,
.team1 h3,
.team1 h4,
.team1 h5,
.team1 h6 {
    color:                          $green;
}
.team1 .no-gutters {
    background-color:               rgba(0,0,0,0);
}
.team1 .card {
    background-color:               rgba(255,255,255,.7);
}
.team1 .font-weight-medium {
    font-weight:                    500;
}
.team1 .subtitle {
    color:                          $white;
    line-height:                    24px;
}
.team1 .pro-pic {
    min-height:                     200px;
}
.team1 .pro-pic .card-img-overlay {
    opacity:                        .7;
    display:                        none;
}
.team1 .pro-pic .card-img-overlay ul {
    top:                            50%;
    font-size:                      20px;
}
.team1 .pro-pic .card-img-overlay ul li a {
    -webkit-transition:             0.1s ease-in;
    -o-transition:                  0.1s ease-in;
    transition:                     0.1s ease-in;
}
.team1 .pro-pic .card-img-overlay ul li a:hover {
    -webkit-transform:              translate3d(0px, -5px, 0px);
    transform:                      translate3d(0px, -5px, 0px);
}
.team1 .pro-pic:hover .card-img-overlay {
    display:                        block;
}

// === 12.  CONTACT RULESET =======================

section {
    padding:                        120px 0 0 0;
    @media (max-width: 1024px) {
        padding:                    130px 0 0 0;
    }
    @media (max-width: 991px) {
        padding:                    70px 0 0 0;
    }
}

// === 13.  BACK TO TOP BUTTON ====================

.progress-wrap {
    position:                       fixed;
    right:                          50px;
    bottom:                         50px;
    height:                         46px;
    width:                          46px;
    cursor:                         pointer;
    display:                        block;
    border-radius:                  50px;
    box-shadow:                     inset  0 0 0 2px rgba(255,255,255,.2);
    z-index:                        10000;
    opacity:                        0;
    visibility:                     hidden;
    transform:                      translateY(15px);
    -webkit-transition:             all 200ms linear;
    transition:                     all 200ms linear;
    &:after,
    &:before {
        font-family:                "Font Awesome 5 Pro", sans-serif;
        position:                   absolute;
        content:                    "\f102";
        text-align:                 center;
        line-height:                46px;
        font-size:                  24px;
        color:                      $dark;
        left:                       0;
        top:                        0;
        height:                     46px;
        width:                      46px;
        cursor:                     pointer;
        display:                    block;
        z-index:                    1;
        -webkit-transition:         all 200ms linear;
        transition:                 all 200ms linear;
    }
    &:before {
        opacity:                    0;
        -webkit-background-clip:    text;
        -webkit-text-fill-color:    transparent;
        z-index:                    2;
    }
    svg path {
        fill:                       none;
    }
    svg.progress-circle path {
        stroke:                     $dark;
        stroke-width:               4;
        box-sizing:                 border-box;
        -webkit-transition:         all 200ms linear;
        transition:                 all 200ms linear;
    }
}
.progress-wrap.active-progress {
    opacity:                        1;
    visibility:                     visible;
    transform:                      translateY(0);
}
.progress-wrap:hover::after,
.progress-wrap:hover::before {
    opacity:                        1;
}

// === 14.  RESOURCES RESULTS =====================

.resource-card {
    overflow:                       hidden;
    box-shadow:                     0 2px 20px rgba(0,0,0,.2);
    background:                     white;
    border-radius:                  0.5rem;
    position:                       relative;
    transition:                     250ms all ease-in-out;
    cursor:                         pointer;
    &:hover {
        transform:                  scale(1.05);
        box-shadow:                 0 2px 40px rgba(0,0,0,.2);
    }
    .banner-img {
        position:                   absolute;
        object-fit:                 cover;
        height:                     5rem;
        width:                      100%;
    }
    .card-body {
        margin:                     5rem 1rem 1rem 1rem;
        .card-link {
            color:                  $green;
        }
    }
    .card-link {
        color:                      $dark;
        padding-right:              2rem;
    }
    .category-tag {
        font-size:                  0.8rem;
        font-weight:                bold;
        color:                      $dark;
        padding:                    0.5rem 1.3rem 0.5rem 1rem;
        text-transform:             uppercase;
        position:                   absolute;
        z-index:                    1;
        top:                        1rem;
        border-radius:              0 2rem 2rem 0;
    }
    .resource-title {
        color:                      $green;
        line-height:                2.2rem;
        margin:                     1rem 0 0.5rem;
    }
    .resource-description {
        color:                      $dark;
        font-size:                  0.9rem;
    }
    .card-profile {
        display:                    flex;
        margin-top:                 2rem;
        align-items:                center;
    }
    .profile-img {
        width:                      60px;
        height:                     60px;
        object-fit:                 cover;
        border-radius:              50%;
    }
    .card-profile-info {
        margin-left:                1rem;
    }
    .profile-name {
        font-size:                  1rem;
    }
    .profile-datetime {
        color:                      rgba(0,0,0,.7);
        font-size:                  0.9rem;
    }
}

// === 15.  PERSONNAL PROFILE =====================

.container .row .col-xl-4,
.container .row .col-xl-8 {
    [class*="fontawesome-"]:before {
        font-family:                'FontAwesome',
                                    sans-serif;
    }
    .scnd-font-color {
        color:                      rgba(255,255,255,.7);
    }
    margin-top:                     2em;
    h4 {
        color:                      $green;
    }
    h1, h2, h5, p, a, span{
        color:                      $white-smoke;
    }
    /* Killing marks for the whole user Profile */
    ul {
        list-style-type:            none;
        margin:                     0;
        padding-left:               0;
    }
    /* Profile horizontal lists */
    .horizontal-list {
        margin:                     0;
        padding:                    0;
        list-style-type:            none;
        li {
            float:                  left;
        }
    }
    /* Profile left section titles */
    .titular {
        display:                    block;
        line-height:                60px;
        text-align:                 center;
        border-bottom-left-radius:  5px;
        border-bottom-right-radius: 5px;
    }
    .profile{
        margin-bottom:              0;
        background:                 $dark;
        border-top-left-radius:     5px;
        border-top-right-radius:    5px;
        /* Profile options button */
        .add-button .icon {
            float:                  right;
            line-height:            18px;
            width:                  23px;
            border:                 2px solid;
            border-radius:          100%;
            font-size:              18px;
            text-align:             center;
            margin:                 10px;
            &:hover {
                color:              $teal;
                border-color:       $teal;
            }
        }
        /* Profile picture */
        .big-profile-picture {
            margin:                 0 auto;
            border:                 5px solid $teal;
            width:                  150px;
            height:                 150px;
        }
        .clear {
            clear:                  both;
        }
        .profile-picture {
            border-radius:          100%;
            overflow:               hidden;
            -webkit-box-sizing:     content-box;
            -moz-box-sizing:        content-box;
            box-sizing:             content-box;
        }
        /* Profile text space */
        .profile-description {
            width:                  290px;
            margin:                 0 auto;
            text-align:             center;
        }
        .user-name {
            margin:                 25px 0 16px;
            text-align:             center;
        }
        /* Profile special resources menu */
        .profile-options {
            padding-top:            23px;
            .icon {
                padding-right:      10px;
            }
            .comments,
            .likes {
                border-top:         4px solid $green;
                background:         $dark;
            }
            .views {
                border-top:         4px solid $teal;
                background:         $dark;
            }
            a {
                display:            block;
                width:              116px;
                line-height:        50px;
                text-align:         center;
                -webkit-transition: background .3s;
                transition:         background .3s;
                &:hover {
                    text-decoration: none;
                    background:     rgba(0, 0, 0, .7);
                }
                &:hover.comments .icon,
                &:hover.likes .icon {
                    color:          $green;
                }
                &:hover.views .icon {
                    color:          $teal;
                }
            }
            li {
                border-left:        1px solid rgba(255,255,255,.2);
            }
            p {
                margin:             0;
            }
        }
    }
    /* Profile user menu */
    .menu-box {
        background:                 $dark;
        .menu-box-menu {
            .icon {
                display:            inline-block;
                vertical-align:     top;
                width:              28px;
                padding-top:        20px;
                margin-left:        20px;
                margin-right:       15px;
            }
            li {
                height:             60px;
                position:           relative;
            }
            /* Profile user menu smart boxes */
            .menu-box-number {
                width:              36px;
                line-height:        22px;
                background:         rgba(255,255,255,.2);
                text-align:         center;
                border-radius:      15px;
                position:           absolute;
                top:                15px;
                right:              15px;
                -webkit-transition: all .3s;
                transition:         all .3s;
            }
            .menu-box-tab {
                line-height:        60px;
                display:            block;
                border-bottom:      1px solid rgba(255, 255, 255, .2);
                -webkit-transition: background .2s;
                transition:         background .2s;
                &:hover {
                    background:     rgba(0, 0, 0, .2);
                    border-top:     1px solid $dark;
                    text-decoration: none;
                    .icon {
                        color:      $green;
                    }
                    .menu-box-number {
                        color:      $dark;
                        background: -webkit-linear-gradient(to right, $teal 0%, $green 100%);
                        background: -webkit-gradient(linear, left top, right top, from($teal), to($green));
                        background: -webkit-linear-gradient(left, $teal 0%, $green 100%);
                        background: -o-linear-gradient(left, $teal 0%, $green 100%);
                        background: linear-gradient(to right, $teal 0%, $green 100%);
                    }
                }
            }
        }
    }
    /* Profil user stats block */
    .donut-chart-block {
        background:                 $dark;
        .donut-chart {
            position:               relative;
            width:                  200px;
            height:                 200px;
            margin:                 2em auto 2rem;
            border-radius:          100%
        }
        p.center-date {
            background:             $dark;
            position:               absolute;
            text-align:             center;
            font-size:              28px;
            top:                    0;
            left:                   0;
            bottom:                 0;
            right:                  0;
            width:                  130px;
            height:                 130px;
            margin:                 auto;
            border-radius:          50%;
            line-height:            35px;
            padding:                15% 0 0;
        }
        .center-date span.scnd-font-color {
            line-height:            0;
        }
        .shortened {
            border-radius:          50%;
            clip:                   rect(0px, 200px, 200px, 100px);
            height:                 100%;
            position:               absolute;
            width:                  100%;
        }
        .trunk {
            border-radius:          50%;
            clip:                   rect(0px, 100px, 200px, 0px);
            height:                 100%;
            position:               absolute;
            width:                  100%;
            font-family:            monospace;
            font-size:              1.5rem;
        }
        #portion1 {
            -webkit-transform:      rotate(0deg);
            transform:              rotate(0deg);
        }
        #portion1 .trunk {
            background-color:       $green;
            -webkit-transform:      rotate(76deg);
            transform:              rotate(76deg);
        }
        #portion2 {
            -webkit-transform:      rotate(76deg);
            transform:              rotate(76deg);
        }
        #portion2 .trunk {
            background-color:       $teal;
            -webkit-transform:      rotate(140deg);
            transform:              rotate(140deg);
        }
        #portion3 {
            -webkit-transform:      rotate(215deg);
            transform:              rotate(215deg);
        }
        #portion3 .trunk {
            background-color:       $white-smoke;
            -webkit-transform:      rotate(113deg);
            transform:              rotate(113deg);
        }
        #portion4 {
            -webkit-transform:      rotate(-32deg);
            transform:              rotate(-32deg);
        }
        #portion4 .trunk {
            background-color:       $black;
            -webkit-transform:      rotate(32deg);
            transform:              rotate(32deg);
        }
        /* Profile user stats blocks */
        .res-percentages {
            padding-top:            20px;
        }
        .res-percentages li {
            width:                  25%;
            border-left:            1px solid rgba(255,255,255,.2);
            text-align:             center;
            background:             $dark;
        }
        .res {
            margin:                 0;
            padding:                10px 0 5px;
            font-size:              15px;
        }
        .res.coms {
            border-top:             4px solid $green;
        }
        .res.vues {
            border-top:             4px solid $teal;
        }
        .res.favs {
            border-top:             4px solid $white-smoke;
        }
        .res.part {
            border-top:             4px solid $black;
        }
        .res-percentage {
            margin:                 0;
            padding:                0 0 15px 10px;
            font-size:              25px;
        }
    }
    /* Profile right content section */
    .profile-content {
        background:                 $dark;
        border-top-left-radius:     5px;
        border-top-right-radius:    5px;
        .titular {
            border-top-left-radius: 5px;
            border-top-right-radius:5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-top:             2em;
        }
        /* Profile content blocks display */
        p:first-child {
            margin:                 0;
            padding:                30px 30px 0;
        }
        p:last-child {
            margin:                 0;
            padding:                15px 30px 0;
        }
    }
    .profile-content.first {
        height:                     150px;
        border-bottom:              1px solid rgba(255,255,255,.2);
    }
    .profile-content-link {
        color:                      $green;
    }
}

// === 16.  LOGIN SYSTEM ==========================

.login-fg {
    .bg {
        background:                 rgba(0,0,0,0.04) repeat;
        background-size:            cover;
        top:                        0;
        width:                      100%;
        bottom:                     0;
        opacity:                    1;
        z-index:                    999;
        min-height:                 100vh;
        position:                   relative;
        display:                    flex;
        justify-content:            center;
        align-items:                center;
        padding:                    30px
    }
    .img {
        display:                    flex;
        justify-content:            flex-end;
        align-items:                center;
        img {
            width:                  500px;
        }
    }
    .login {
        min-height:                 100vh;
        position:                   relative;
        display:                    -webkit-box;
        display:                    -moz-box;
        display:                    -ms-flexbox;
        display:                    -webkit-flex;
        display:                    flex;
        justify-content:            center;
        align-items:                center;
        padding:                    30px 15px;
        box-shadow:                 0 0 15px rgba(0,0,0,0.2);
    }
    .form-container {
        color:                      #ccc;
        position:                   relative;
        .form-group {
            margin-bottom:          25px
        }
        .form-fg {
            float:                  left;
            width:                  100%;
            position:               relative;
            i {
                position:           absolute;
                top:                13px;
                right:              20px;
                font-size:          19px;
                color:              $dark;
            }
            .toggle {
                position:           initial;
                background:         none;
                border:             none;
            }
        }
        .form-fg input {
            float:                  left;
            width:                  100%;
            padding:                11px 45px 11px 20px;
            border-radius:          50px
        }
        .form-check {
            float:                  left;
            margin-bottom:          0;
        }
        .input-text {
            outline:                none;
            color:                  $dark;
            border-radius:          3px;
            font-weight:            500;
            border:                 1px solid transparent;
            box-shadow:             0 0 5px rgba(0,0,0,0.2)
        }
        .checkbox {
            margin-bottom:          25px
        }
        .form-check label::before{
            content:                "";
            display:                inline-block;
            position:               absolute;
            width:                  18px;
            height:                 18px;
            top:                    2px;
            margin-left:            -25px;
            border:                 none;
            border-radius:          3px;
            background:             #fff;
            box-shadow:             0 0 5px rgba(0,0,0,0.2)
        }
        .form-check-label {
            margin-bottom:          0;
            color:                  $dark
        }
        .checkbox-fg input[type="checkbox"]:checked + label::before {
            color:                  $white;
            background:             $green
        }
        input[type=checkbox]:checked + label:before {
            font-weight:            300;
            color:                  $white-smoke;
            content:                "\2713";
            line-height:            17px
        }
        input[type=checkbox],input[type=radio] {
            margin-top:             4px
        }
        .checkbox a {
            color:                  $green;
            float:                  right;
            margin-left:            3px
        }
    }
    .login-section {
        max-width:                  420px;
        margin:                     0 auto;
        text-align:                 center;
        width:                      100%;
        p {
            margin:                 25px 0 0;
            font-size:              15px;
            a {
                color:              $green
            }
        }
        .or-login {
            float:                  left;
            width:                  100%;
            margin:                 0 0 25px;
            text-align:             center;
            position:               relative;
            &::before {
                position:           absolute;
                left:               0;
                top:                10px;
                width:              100%;
                height:             1px;
                background:         $green;
                content:            ""
            }
        }
    }
}
@media (max-width: 1200px) {
    .login-fg .info h1 {
        font-size:                  45px
    }
}
@media (max-width: 992px) {
    .login-fg .bg {
        display:                    none
    }
}
@media (max-width: 768px) {
    .login-fg .login-section .social li a {
        width:                      100px
    }
    .login-fg .logo a {
        font-size:                  26px;
    }
}

// === 17.  CONTACT FORM ==========================

.login-fg {
    h3 {
        color:                      $green;
    }
    .form-fg {
        z-index:                    666;
        i {
        right:                      30px !important;
        }
    }
    .form-fg-special {
        float:                      left;
        width:                      100%;
        position:                   relative;
        margin-bottom:              1rem !important;
        z-index:                    666;
        i {
            position:               absolute;
            top:                    13px;
            right:                  30px;
            font-size:              19px;
            color:                  $dark;
        }
        .toggle {
            position:               initial;
            background:             none;
            border:                 none;
        }
    }
    .form-fg-special input {
        float:                      left;
        width:                      100%;
        padding:                    11px 45px 11px 20px;
        border-radius:              50px
    }
    .form-section {
        max-width:                  670px;
        margin:                     0 auto;
        text-align:                 center;
        width:                      100%;
    }
}

// === 18.  CONFIDENTIALITY =======================

.confidentiality {
    padding:                        0 0 50px;
    line-height:                    30px;
    a, a:hover, a:focus, a:active {
        text-decoration:            none;
        outline:                    none;
    }
    p {
        color:                      $dark !important;
    }
    ul {
        margin:                     0;
        padding:                    0;
        list-style:                 none;
    }
    h3 {
        color:                      $green;
    }
    blockquote {
        /* Negate theme styles */
        border:                     0;
        margin:                     0;
        padding:                    0;
        font-size:                  1.2em;
        font-style:                 italic;
        line-height:                1.4 !important;
        position:                   relative;
        text-shadow:                0 1px $dark;
        z-index:                    600;
        p:first-child:before {
            content:                '\201C';
            color:                  $green;
            font-size:              7.5em;
            font-weight:            700;
            opacity:                .3;
            position:               absolute;
            top:                    -.4em;
            left:                   -.2em;
            text-shadow:            none;
            z-index:                -300;
        }
    }
    .accordion .card {
        border:                     none;
        margin-bottom:              15px;
        .card-body {
            -webkit-box-shadow:     0 15px 140px 0 rgba(69, 81, 100, 0.1);
            box-shadow:             0 15px 140px 0 rgba(69, 81, 100, 0.1);
            border-radius:          0 0 10px 10px;
            padding-top:            0;
            margin-top:             -6px;
            padding-left:           72px;
            padding-right:          70px;
            padding-bottom:         23px;
            color:                  $dark;
        }
    }
    .accordion .card:not(:first-of-type) .card-header:first-child {
        border-radius:              10px;
    }
    .accordion .card .card-header {
        border:                     none;
        border-radius:              10px;
        padding:                    0;
        h5 {
            padding:                0;
            button {
                font-family:        "Font Awesome 5 Pro", sans-serif;
                color:              $green;
                font-size:          18px;
                font-weight:        500;
                text-decoration:    none;
                padding:            0 30px 0 70px;
                height:             50px;
                display:            block;
                width:              100%;
                text-align:         left;
                background:         #fff;
                -webkit-box-shadow: 0 -50px 140px 0 rgba(69, 81, 100, 0.1);
                box-shadow:         0 -50px 140px 0 rgba(69, 81, 100, 0.1);
                border-radius:      10px 10px 0 0;
                position:           relative;
            }
            button:after {
                position:           absolute;
                left:               30px;
                top:                50%;
                margin-top:         -10px;
                width:              20px;
                height:             20px;
                color:              $dark;
                text-align:         center;
                border:             1px solid $dark;
                border-radius:      50%;
                content:            '\f067';
                font-size:          10px;
                line-height:        18px;
                font-weight:        900;
            }
            button.collapsed {
                background:         -webkit-linear-gradient(-180deg, $teal 0%, $green 100%);
                border-radius:      10px;
                -webkit-box-shadow: none;
                box-shadow:         none;
                border:             1px solid rgba(0, 0, 0, 0.2);
                color:              $dark;
            }
            button[aria-expanded="true"]:after {
                content:            '\f068';
                color:              $dark;
                background-image:   -webkit-linear-gradient(-180deg, $teal 0%, $green 100%);
            }
        }
    }
    .img {
        display:                    flex;
        justify-content:            flex-end;
        align-items:                center;
        height:                     100%;
        img {
            width:                  350px;
        }
    }
}
@media (max-width: 1200px) {
    .confidentiality h5 {
        font-size:                  45px
    }
}
@media (max-width: 992px) {
    .confidentiality .img {
        display:                    none
    }
}

// === 19.  FLIP CARD =============================

/* .flip-card-container */
.flip-card-container {
    height:                         100%;
    perspective:                    1000px;
    h5 {
        color:                      $teal;
    }
    .flip-card {
        width:                      inherit;
        height:                     inherit;
        position:                   relative;
        transform-style:            preserve-3d;
        transition:                 .6s .1s;
        .card-front,
        .card-back {
            width:                  100%;
            height:                 100%;
            border-radius:          24px;
            position:               absolute;
            top:                    0;
            left:                   0;
            overflow:               hidden;
            backface-visibility:    hidden;
            display:                flex;
            justify-content:        center;
            align-items:            center;
        }
        .card-front {
            transform:              rotateY(0deg);
            z-index:                2;
        }
        .card-back {
            transform:              rotateY(180deg);
            z-index:                1;
        }
        figure {
            z-index:                -1;
        }
        figure,
        .img-bg {
            position:               absolute;
            top:                    0;
            left:                   0;
            width:                  100%;
            height:                 100%;
        }
        img {
            height:                 100%;
            border-radius:          24px;
        }
        figcaption {
            display:                block;
            width:                  auto;
            margin-top:             12%;
            padding:                8px 22px;
            font-weight:            bold;
            line-height:            1.6;
            letter-spacing:         2px;
            word-spacing:           6px;
            text-align:             right;
            position:               absolute;
            top:                    0;
            right:                  12px;
            color:                  $teal;
            background:             rgba(0,0,0,.4);
        }
        .img-bg {
            background:             rgba(0,0,0,.4);
        }
        .card-front .img-bg {
            clip-path:              polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
        }
        .card-back .img-bg {
            clip-path:              polygon(0 0, 100% 0, 100% 80%, 0 60%);
        }
    }
    ul {
        padding-top:                50%;
        margin:                     0 auto;
        width:                      70%;
        height:                     100%;
        list-style:                 none;
        color:                      $white-smoke;
        display:                    flex;
        justify-content:            center;
        align-items:                center;
        flex-direction:             column;
    }
    li {
        width:                      100%;
        margin-top:                 12px;
        padding-bottom:             12px;
        font-size:                  14px;
        text-align:                 center;
        position:                   relative;
    }
    li:nth-child(4n) {
        color:                      $teal;
    }
    li:not(:last-child)::after {
        content:                    "";
        position:                   absolute;
        bottom:                     0;
        left:                       0;
        width:                      100%;
        height:                     1px;
        background:                 $teal;
        opacity:                    .7;
    }
}
/* Hover and focus within both states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
    transform:                      rotateY(180deg);
}
/* Fix for title size when responsive */
@media (max-width: 1200px) {
    .flip-card-container h5 {
        font-size:                  20px
    }
}

// === 20.  SEARCH BOX ============================

.search-box__input-group {
    .input-group-prepend {
        .input-group-text {
            border-bottom-left-radius: 50px;
            border-top-left-radius: 50px;
            background:             rgba(255,255,255,.7);
            .fal {
                font-weight:        900;
                color:              $dark;
            }
        }
    }
    .js-search-entity-input,
    .js-listen-value {
        border-top-right-radius:    50px;
        border-bottom-right-radius: 50px;
        outline:                    none;
        color:                      $dark;
        border:                     1px solid transparent;
        font-weight:                500;
        box-shadow:                 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

//TESTS

.form-group {
    margin-bottom: 1.5rem;
}
.form-control {
    border: 1px solid $border-color;
    font-size: $input-font-size;
    height: auto;
}
.resource-link {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
